@import "./background.css";
@import "./header.css";
@import "./main.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text: #edf1f7;
  --red: #c51212;
  --blue: #0041c2;
  --green: #14b02d;
  --yellow: #ffc12b;
}

body,
button,
a {
  color: var(--text);
  font: 400 1rem "Mukta", sans-serif;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

.Mario-center {
  align-items: center;
  grid-template-columns: 1fr;
  width: 400px;
  height: auto;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 800px) {
  .navigation__social,
  .Mario img {
    display: none;
  }
}

@media (max-width: 600px) {
  .Mario-center {
    grid-template-columns: auto;
    width: 50%;
    align-items: center;
  }
  .importante-img {
    align-items: center;
    display: flex;
  }
  p {
    font-size: 1rem;
    font-weight: 30px;
    font-family: 10px;
  }
  .navigation,
  .navegation__link a {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 15px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 500px) {
  .Mario-center {
    width: 60%;
    height: 50%;
    align-items: center;
    grid-template-columns: auto;
  }
}

@media (max-width: 400px) {
  .texto-princi {
    font-size: 1px;
    font-family: 1px;
  }
  .importante-img {
    font-size: 20px;
    font-family: 20px;
  }
}

@media (max-width: 400px) {
  .Mario-center {
    display: none;
  }
  .importante-img img {
    margin-top: 20px;
    align-items: center;
    width: 7rem;
    grid-template-columns: 1fr;
   }
   .navigation,
   .navegation__link a {
     grid-template-columns: 1fr 1fr;
     gap: 10px;
  }
}

@media (max-width: 370px) {
  .Mario-center {
    display: none;
  }
  .navigation,
  .navegation__link a {
    display: block;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
